# Image aplikasi web dari GHCR
WEB_IMAGE=ghcr.io/your-github-owner/satudatabulungan-web:deploy-latest

# Port host untuk mengakses container frontend
# Ganti jika 3000 sudah dipakai, misalnya 3010
WEB_HOST_PORT=3000
